<IfModule mod_rewrite.c>
    RewriteEngine On

    # Definir la subruta base
    RewriteBase /gestion_actas/

    # Redirigir solo si no es un archivo o carpeta existente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^ index.php [L]
</IfModule>
