@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Estilos personalizados para los badges */
.badge.bg-warning {
    background-color: #ffc107 !important;
    color: #000 !important;
}

.badge.bg-danger {
    background-color: #dc3545 !important;
}

.btn-success {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
    color: #fff !important;
}
